.display {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: gray;
  min-height: 3.5rem; /*чтобы кнопки не прыгали вверх*/
  padding-top: 5rem;
}
.control {
  display: flex;
  justify-content: center;
}
